.preview {
  height: 100%;
  flex-grow: 1;
  position: relative;
}

.react-draggable-transparent-selection .preview::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.preview__frame {
  height: 100%;
  width: 100%;

  border: none;
  outline: none;
}
