.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 1.5rem;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #2b3e50;
}

.progress::-webkit-progress-value {
  background-color: #dee5ed;
}

.progress::-moz-progress-bar {
  background-color: #dee5ed;
}

.progress::-ms-fill {
  background-color: #dee5ed;
  border: 0;
}

.progress.progress--primary::-webkit-progress-value {
  background-color: #df691a;
}

.progress.progress--primary::-moz-progress-bar {
  background-color: #df691a;
}

.progress.progress--primary::-ms-fill {
  background-color: #df691a;
}

.progress.progress--primary:indeterminate {
  background-image: linear-gradient(to right, #df691a 30%, #2b3e50 30%);
}

.progress:indeterminate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: moveIndeterminate;
  animation-name: moveIndeterminate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: #2b3e50;
  background-image: linear-gradient(to right, #dee5ed 30%, #2b3e50 30%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}

.progress:indeterminate::-webkit-progress-bar {
  background-color: transparent;
}

.progress:indeterminate::-moz-progress-bar {
  background-color: transparent;
}

.progress.progress--small {
  height: 0.75rem;
}

.progress.progress--medium {
  height: 1.25rem;
}

.progress.progress--large {
  height: 1.5rem;
}

@-webkit-keyframes moveIndeterminate {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@keyframes moveIndeterminate {
  0% {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}
