:root {
  --background-color: #1f2d3b;
  --color: #d4d4d4;
  --btn-primary-bg: #df691a;
  --btn-primary-bg-hover: #d16318;
  --btn-primary-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fi {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  cursor: pointer;
  line-height: 1.5;
}

.btn.btn--primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
}

.btn.btn--primary:hover {
  background-color: var(--btn-primary-bg-hover);
}

.btn.btn--rounded {
  border-radius: 1.5rem !important;
}
